@{
    ViewData["Title"] = "Movie Database";
}

@model List<MovieResponse>

@*Creates the table*@
<table class="table table-bordered table-striped">

    <thead class="font-weight-bold text-center">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>

        </tr>
    </thead>

    <tbody>
        @*For loop to display all of the items in the list*@
        @foreach (var x in Model)
            {
        <tr>
            <td>@x.Category.CategoryName</td>
            <td>@x.Title</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.Notes</td>
            @*Creates the edit and delete functions*@
            <td><a asp-controller ="Home" asp-action="Edit" asp-route-title="@x.Title">Edit</a></td>
            <td><a asp-controller ="Home" asp-action="Delete" asp-route-title="@x.Title">Delete</a></td>
        </tr>

            }
    </tbody>

</table>
